img{
    height: 150px;
}

#contenedor-imagenes{
    border: 5px solid red;
    position: relative; /* Necesario para que funcione bien el posicionamiento absoluto de los elementos que contiene */
}

#husky{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 215px;
    top: 10px;
    z-index: 100;
}

#husky-imagen{ 
    position: absolute;
    right: 5px;
    top: 5px;
}

#golden{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top: 85px;
    left: 275px;
    z-index: 100;
    font-size: 20px;
}

#golden1-imagen{
    position: relative;
    top: 30px;
    left: 10px;
}

#golden2-imagen{
    position: relative;
    top: 80px;
    left: -15px;
}

#carlino{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: -100px;
    left: 470px;
    z-index: 100;
}

#carlino-imagen{
    position: relative;
    bottom: 5px;
    left: 550px;
}

#podenco{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 460px;
    z-index: 100;
    color: white;
}

#podenco-imagen{
    position: absolute;
    top: 50px;
    left: 460px;
}